<div class="container d-flex justify-content-center header-container">
  <div class="row d-flex h-100 align-content-center g-0 p-0 m-0 header-content">
    <div
      class="col-12 col-md d-flex align-items-center justify-content-start p-0 m-0 g-0"
    >
      <img
        src="../../../assets/logs.webp"
        alt="Logs"
        class="img-fluid header-image m-0 p-0 g-0"
      />
      <h1 class="text-center header-text">OSRS Flipping Companion</h1>
    </div>
    <div class="col col-md d-flex align-items-center justify-content-end">
      <a href="https://github.com/naddiemathkour" target="_blank">
        <img
          src="../../../assets/git-icon.png"
          alt="GitHub Link"
          class="img-fluid contact-icon"
        />
      </a>
      <a href="https://x.com/PiPtheDev" target="_blank">
        <img
          src="../../../assets/x-icon.png"
          alt="X/Twitter Link"
          class="img-fluid contact-icon"
        />
      </a>
      <a href="https://cash.app/$pipstips" target="_blank">
        <img
          src="../../../assets/tip-icon.png"
          alt="X/Twitter Link"
          class="img-fluid contact-icon"
        />
      </a>
    </div>
  </div>
</div>
