.header-image {
  max-height: 200px;
  max-width: 140px;
  width: auto;
  height: auto;
}

.header-container {
  height: 130px;
  margin: 20px none;
}

.header-text {
  font-size: 2rem;
  font-weight: 300;
  margin-left: 10px;
}

@media (max-width: 770px) {
  .contact-icon {
    display: none;
  }
}

.contact-icon {
  max-height: 40px;
  width: auto;
  margin: 0 10px;
  opacity: 0.6;
}
