<div class="container g-0 mt-2 mb-2">
  <mat-button-toggle-group
    name="dataTypeView"
    appearance="standard"
    class="pill-toggle col"
  >
    <mat-button-toggle>Alching</mat-button-toggle>
    <mat-button-toggle>Flipping</mat-button-toggle>
  </mat-button-toggle-group>
  <mat-select class="col-2">
    <mat-option>Cringe</mat-option>
  </mat-select>
  <mat-slider min="1" max="100" step="1" showTickMarks discrete class="col-2">
    <input matSliderThumb />
  </mat-slider>
  <mat-checkbox class="col"><span>Show Members-only items?</span></mat-checkbox>
</div>
