<cdk-accordion>
  @for (item of itemData; track item; let index = $index) { @if (showMembers ||
  (!showMembers && !item.members)) {
  <cdk-accordion-item
    #accordionItem="cdkAccordionItem"
    [expanded]="getAccordionState(item.id)"
    role="button"
  >
    <div
      class="container-fluid"
      (click)="accordionItem.toggle(); setAccordionState(item.id)"
    >
      <div
        class="row justify-content-between align-items-center item-row-container"
      >
        <div class="col-2 d-flex">
          <img src="../../../assets/sgs.webp" alt="" class="item-icon" />
        </div>
        <div class="col text-center">
          <h4>{{ item.name }}</h4>
        </div>

        <div class="col text-center">
          <h4>Buy Limit: {{ item.buylimit }}</h4>
        </div>
        <div class="col text-center">
          <h4>
            Profit Per Alch:
            {{ item.highalch - item.avghighprice - natureRune.avghighprice }}
          </h4>
        </div>
        <div class="col text-center">
          <h4>Since: {{ item.timestamp | date : "shortTime" : "UTC" }}</h4>
        </div>
        <div
          role="region"
          [style.display]="getAccordionState(item.id) ? 'block' : 'none'"
          [attr.id]="'accordion-body-' + index"
          [attr.aria-labelledby]="'accordion-header-' + index"
        >
          <hr />
          <div class="row d-flex">
            <div class="col text-center">
              <h4>Buy Price: {{ item.avghighprice }}</h4>
            </div>
            @if(item.avghighprice != item.avglowprice && item.avglowprice > 0) {
            <div class="col text-center">
              <h4>Merch Price: {{ item.avglowprice }}</h4>
            </div>
            }
            <div class="col text-center">
              <h4>
                5 Minute Volume:
                {{ item.highpricevolume + item.lowpricevolume }}
              </h4>
            </div>
            <div class="col text-center">
              <h4>High Alch Value: {{ item.highalch }}</h4>
            </div>
            <div class="col text-center">
              <h4>
                Buy Limit Profit:
                {{
                  item.buylimit *
                    (item.highalch -
                      item.avghighprice -
                      natureRune.avghighprice)
                }}
              </h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </cdk-accordion-item>
  } }
</cdk-accordion>
